*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calculator-container {
  background-image: url("containerB.jpg");
  background-repeat: no-repeat;
  background-size: cover;


  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 150px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.calculator-btn {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(90, 50, 50);
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}

.calculator-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.logo {
  width: 240px;
  height: 240px;
  background-image: url("logoImage.webp");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
}
.imageS{
  width: 100%;
  height: 100vh;
  background-image: url("calB1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}
